<% provide(:title, "質問一覧") %>
<div class="question-index-wrapper container container-contents">
  <h1>質問一覧</h1>
      
  <% if params[:search].present? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-info">検索結果 : <%= params[:search] %></p>
    </div>
  </div>
  <% end %>
  <% if @questions.empty? %>
    <% if params[:search].present? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>検索条件に合う質問が見つかりませんでした</h2>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>公開されている質問はありません</h2>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @questions.each do |question| %>
      <div class="row row-question-item">
        <div class="col-md-8 col-md-offset-2 col-question-item">
          <div class="question-index-single">
            <h2>#<%=question.id %> : <%= question.title %></h3>
            <h3 class="question-author">
              <%= question.user.name %>
            </h3>
            <p class="question-text">
              <%= question.content %>
            </p>
            <% if question.deletion_flg == 0 %>
              <p><%= link_to '詳細', question_path(question.id) %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @questions %>
</div>
