<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "ほいくQ&A", home_path, id: "logo" %>
    <% else %>
      <%= link_to "ほいくQ&A", '/', id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to @current_user.name, home_path %></li>
          <li><%= link_to "質問一覧", questions_index_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "ヘルプ",  '/pages/help_index' %></li>
          <li><%= link_to "新規登録", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>
</header>
